
<div id="content">
  <div class="header">
    <h1>Bienvenido Diego!</h1>
    <div class="logo">
      <img src="../assets/banner-home.svg" alt="imagen no disponible">
    </div>
    <h2>
      Gracias por considerar a D&S Constructora.
     ¡Contáctanos hoy para comenzar tu viaje hacia la construcción de un futuro mejor!
    </h2>
    <div class="bttns">
      <a href="https://wa.me/5491124024245" class="bttn primary">Escribir a Sofia</a>
      <a href="https://wa.me/5491157548838" class="bttn secondary">Escribir a Diego</a>
    </div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="#">Te quiero Diego ❤️</a>
      </li>


    </ul>
  </div>
</div>
